<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    <div class="logo">
        <a href="./index.html">
            <img src="../../assets/img/logo.png" alt="">
        </a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="om-widget">
        <ul>
            <li><i class="icon_mail_alt"></i> Aler.support@gmail.com</li>
            <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
        </ul>
        <a href="#" class="hw-btn">Submit property</a>
    </div>
    <div class="om-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube-play"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Wrapper End -->
<flash-messages></flash-messages>
<!-- Header Section Begin -->
<app-header></app-header>
<!-- Header End -->

<!-- Hero Section Begin -->
<app-heros></app-heros>
<!-- Hero Section End -->

<!-- Search Section Begin -->
<app-search></app-search>
<!-- Search Section End -->

<!-- Property Section Begin -->
<section class="property-section latest-property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title">
                    <h4>Latest PROPERTY</h4>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="property-controls">
                    <ul>
                        <li data-filter="all">All</li>
                        <li data-filter=".apart">Apartment</li>
                        <li data-filter=".house">House</li>
                        <li data-filter=".office">Office</li>
                        <li data-filter=".hotel">Hotel</li>
                        <li data-filter=".restaurent">Restaurent</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row property-filter">
            <div class="col-lg-4 col-md-6 mix all house">
                <div class="property-item">
                    <div class="pi-pic set-bg"
                        style="background:transparent url('../../assets/img/property/property-1.jpg') no-repeat top center /cover"
                        data-setbg="../../assets/img/property/property-1.jpg">
                        <div class="label">For rent</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">$ 289.0<span>/month</span></div>
                        <h5><a href="#">Home in Merrick Way</a></h5>
                        <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03461</p>
                        <ul>
                            <li><i class="fa fa-object-group"></i> 2, 283</li>
                            <li><i class="fa fa-bathtub"></i> 03</li>
                            <li><i class="fa fa-bed"></i> 05</li>
                            <li><i class="fa fa-automobile"></i> 01</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="../../assets/img/property/posted-by/pb-1.jpg" alt="">
                                    <h6>Ashton Kutcher</h6>
                                </div>
                                <div class="pa-text">
                                    123-455-688
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix all restaurent hotel">
                <div class="property-item">
                    <div class="pi-pic set-bg"
                        style="background:transparent url('../../assets/img/property/property-2.jpg') no-repeat top center /cover"
                        data-setbg="../../assets/img/property/property-2.jpg">
                        <div class="label c-red">For rent</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Unimont Aurum</a></h5>
                        <p><span class="icon_pin_alt"></span> Gut No.102, Opp. HP Petrol Pump, Karjat</p>
                        <ul>
                            <li><i class="fa fa-object-group"></i> 2, 283</li>
                            <li><i class="fa fa-bathtub"></i> 03</li>
                            <li><i class="fa fa-bed"></i> 05</li>
                            <li><i class="fa fa-automobile"></i> 01</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="../../assets/img/property/posted-by/pb-1.jpg" alt="">
                                    <h6>Ashton Kutcher</h6>
                                </div>
                                <div class="pa-text">
                                    123-455-688
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix all apart office">
                <div class="property-item">
                    <div class="pi-pic set-bg"
                        style="background:transparent url('../../assets/img/property/property-2.jpg') no-repeat top center /cover"
                        data-setbg="../../assets/img/property/property-2.jpg">
                        <div class="label c-red">For rent</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Vrindavan Flora</a></h5>
                        <p><span class="icon_pin_alt"></span> No. 15, 16, 17-1A And 17-2, Rasayani, Rasayani</p>
                        <ul>
                            <li><i class="fa fa-object-group"></i> 2, 283</li>
                            <li><i class="fa fa-bathtub"></i> 03</li>
                            <li><i class="fa fa-bed"></i> 05</li>
                            <li><i class="fa fa-automobile"></i> 01</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="../../assets/img/property/posted-by/pb-1.jpg" alt="">
                                    <h6>Ashton Kutcher</h6>
                                </div>
                                <div class="pa-text">
                                    123-455-688
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix all hotel restaruent">
                <div class="property-item">
                    <div class="pi-pic set-bg"
                        style="background:transparent url('../../assets/img/property/property-4.jpg') no-repeat top center /cover"
                        data-setbg="../../assets/img/property/property-4.jpg">
                        <div class="label c-red">For rent</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Shramik Vaibhav</a></h5>
                        <p><span class="icon_pin_alt"></span> 12 Pt at Shedung, Panvel, Raigarh, Navi Mumbai</p>
                        <ul>
                            <li><i class="fa fa-object-group"></i> 2, 283</li>
                            <li><i class="fa fa-bathtub"></i> 03</li>
                            <li><i class="fa fa-bed"></i> 05</li>
                            <li><i class="fa fa-automobile"></i> 01</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="../../assets/img/property/posted-by/pb-1.jpg" alt="">
                                    <h6>Ashton Kutcher</h6>
                                </div>
                                <div class="pa-text">
                                    123-455-688
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix all office hotel">
                <div class="property-item">
                    <div class="pi-pic set-bg"
                        style="background:transparent url('../../assets/img/property/property-5.jpg') no-repeat top center /cover"
                        data-setbg="../../assets/img/property/property-5.jpg">
                        <div class="label c-magenta">For rent</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Poddar Wondercity</a></h5>
                        <p><span class="icon_pin_alt"></span> Badlapur East, Beyond Thane</p>
                        <ul>
                            <li><i class="fa fa-object-group"></i> 2, 283</li>
                            <li><i class="fa fa-bathtub"></i> 03</li>
                            <li><i class="fa fa-bed"></i> 05</li>
                            <li><i class="fa fa-automobile"></i> 01</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="../../assets/img/property/posted-by/pb-1.jpg" alt="">
                                    <h6>Ashton Kutcher</h6>
                                </div>
                                <div class="pa-text">
                                    123-455-688
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix house apart office">
                <div class="property-item">
                    <div class="pi-pic set-bg"
                        style="background:transparent url('../../assets/img/property/property-6.jpg') no-repeat top center /cover"
                        data-setbg="../../assets/img/property/property-6.jpg">
                        <div class="label">For rent</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">$ 289.0<span>/month</span></div>
                        <h5><a href="#">GoldCrest Residency</a></h5>
                        <p><span class="icon_pin_alt"></span> No.7, Sector- 11, Ghansoli, Mumbai, Navi Mumbai</p>
                        <ul>
                            <li><i class="fa fa-object-group"></i> 2, 283</li>
                            <li><i class="fa fa-bathtub"></i> 03</li>
                            <li><i class="fa fa-bed"></i> 05</li>
                            <li><i class="fa fa-automobile"></i> 01</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="../../assets/img/property/posted-by/pb-1.jpg" alt="">
                                    <h6>Ashton Kutcher</h6>
                                </div>
                                <div class="pa-text">
                                    123-455-688
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Property Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus-section spad set-bg"
    style="background:transparent url('../../assets/img/chooseus/chooseus-bg.jpg') no-repeat top center /cover"
    data-setbg="../../assets/img/chooseus/chooseus-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="chooseus-text">
                    <div class="section-title">
                        <h4>Why choose us</h4>
                    </div>
                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="chooseus-features">
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="../../assets/img/chooseus/chooseus-icon-1.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Find your future home</h5>
                            <p>We help you find a new home by offering a smart real estate.</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="../../assets/img/chooseus/chooseus-icon-2.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Buy or rent homes</h5>
                            <p>Millions of houses and apartments in your favourite cities</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="../../assets/img/chooseus/chooseus-icon-3.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Experienced agents</h5>
                            <p>Find an agent who knows your market best</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="../../assets/img/chooseus/chooseus-icon-4.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>List your own property</h5>
                            <p>Sign up now and sell or rent your own properties</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Chooseus Section End -->

<!-- Feature Property Section Begin -->
<section class="feature-property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-0">
                <div class="feature-property-left">
                    <div class="section-title">
                        <h4>Feature PROPERTY</h4>
                    </div>
                    <ul>
                        <li>Apartment</li>
                        <li>House</li>
                        <li>Office</li>
                        <li>Hotel</li>
                        <li>Villa</li>
                        <li>Restaurent</li>
                    </ul>
                    <a href="#">View all property</a>
                </div>
            </div>
            <div class="col-lg-8 p-0">
                <div class="fp-slider ">

                    <owl-carousel class="fp-item set-bg" [options]=" { items: 1, dots: true, navigation: true }"
                        [carouselClasses]="['owl-theme','row', 'sliding']">

                        <div class="fp-item set-bg" *ngFor="let img of imgs"
                            data-setbg="../../assets/img/feature-property/fp-1.jpg">
                            <img style="  background-repeat: no-repeat,
                        background-size: cover,
                        background-position: top center" src={{img}} />
                            <div class="fp-text">
                                <h5 class="title">Home in Merrick Way</h5>
                                <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03461</p>
                                <div class="label">For Rent</div>
                                <h5>$ 289.0<span>/month</span></h5>
                                <ul>
                                    <li><i class="fa fa-object-group"></i> 2, 283</li>
                                    <li><i class="fa fa-bathtub"></i> 03</li>
                                    <li><i class="fa fa-bed"></i> 05</li>
                                    <li><i class="fa fa-automobile"></i> 01</li>
                                </ul>
                            </div>

                        </div>
                    </owl-carousel>
                    <!--<div class="fp-item set-bg" data-setbg="../../assets/img/feature-property/fp-2.jpg">
                        <div class="fp-text">
                            <h5 class="title">Home in Merrick Way</h5>
                            <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03461</p>
                            <div class="label">For Rent</div>
                            <h5>$ 289.0<span>/month</span></h5>
                            <ul>
                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                <li><i class="fa fa-bathtub"></i> 03</li>
                                <li><i class="fa fa-bed"></i> 05</li>
                                <li><i class="fa fa-automobile"></i> 01</li>
                            </ul>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Property Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="section-title">
                    <h4>Latest Property</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="team-btn">
                    <a href="#"><i class="fa fa-user"></i> ALL counselor</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="ts-item">
                    <div class="ts-text">
                        <img src="../../assets/img/team/team-1.jpg" alt="">
                        <h5>Ashton Kutcher</h5>
                        <span>123-455-688</span>
                        <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                        <div class="ts-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ts-item">
                    <div class="ts-text">
                        <img src="../../assets/img/team/team-2.jpg" alt="">
                        <h5>Ashton Kutcher</h5>
                        <span>123-455-688</span>
                        <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                        <div class="ts-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ts-item">
                    <div class="ts-text">
                        <img src="../../assets/img/team/team-3.jpg" alt="">
                        <h5>Ashton Kutcher</h5>
                        <span>123-455-688</span>
                        <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                        <div class="ts-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Categories Section Begin -->
<section class="categories-section">
    <div class="cs-item-list">
        <div class="cs-item set-bg"
            style="background:transparent url('../../assets/img/categories/cat-1.jpg') no-repeat top center /cover"
            data-setbg="../../assets/img/categories/cat-1.jpg">
            <div class="cs-text">
                <h5>Apartment</h5>
                <span>230 property</span>
            </div>
        </div>
        <div class="cs-item set-bg"
            style="background:transparent url('../../assets/img/categories/cat-2.jpg') no-repeat top center /cover"
            data-setbg="../../assets/img/categories/cat-2.jpg">
            <div class="cs-text">
                <h5>Villa</h5>
                <span>230 property</span>
            </div>
        </div>
        <div class="cs-item set-bg"
            style="background:transparent url('../../assets/img/categories/cat-3.jpg') no-repeat top center /cover"
            data-setbg="../../assets/img/categories/cat-3.jpg">
            <div class="cs-text">
                <h5>House</h5>
                <span>230 property</span>
            </div>
        </div>
        <div class="cs-item set-bg"
            style="background:transparent url('../../assets/img/categories/cat-4.jpg') no-repeat top center /cover"
            data-setbg="../../assets/img/categories/cat-4.jpg">
            <div class="cs-text">
                <h5>Restaurent</h5>
                <span>230 property</span>
            </div>
        </div>
        <div class="cs-item set-bg"
            style="background:transparent url('../../assets/img/categories/cat-5.jpg') no-repeat top center /cover"
            data-setbg="../../assets/img/categories/cat-5.jpg">
            <div class="cs-text">
                <h5>Office</h5>
                <span>230 property</span>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Testimonial Section Begin -->
<app-client-says></app-client-says>
<!-- Testimonial Section End -->

<!-- Logo Carousel Begin -->
<div class="logo-carousel">
    <div class="container">
        <div class="lc-slider ">
            <owl-carousel class="fp-item set-bg" [options]=" { items: 1, dots: true, navigation: true }"
            [carouselClasses]="['owl-theme','row', 'sliding']">

            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="../../assets/img/logo-carousel/lc-1.png" alt="">
                </div>
                <div class="lc-item-inner">
                    <img src="../../assets/img/logo-carousel/lc-2.png" alt="">
                </div>
                <div class="lc-item-inner">
                    <img src="../../assets/img/logo-carousel/lc-3.png" alt="">
                </div>
            </a>
            
            <a href="#" class="lc-item" style="align-content: center;">
                <div class="lc-item-inner" >
                    <img src="../../assets/img/logo-carousel/lc-4.png" alt="">
                </div>
        
                <div class="lc-item-inner" style="margin-right: 200px;margin-left: 200px;">
                    <img src="../../assets/img/logo-carousel/lc-5.png" alt="">
                </div>
                <div class="lc-item-inner">
                    <img src="../../assets/img/logo-carousel/lc-6.png" alt="">
                </div>
            </a>
           
            </owl-carousel>
        </div>
    </div>
</div>
<!-- Logo Carousel End -->

<!-- Contact Section Begin -->













<!--
    <style>
    .hs-item .set-bg[data-bg="hero-1"]
    {
        background-image: url('../../assets/img/hero/hero-1.jpg');
    }

</style>
-->







<app-footer></app-footer>